@media (max-width: 630px) {
  header {
    position: relative;
  }

  header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
  }

  .container {
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: relative;
    z-index: 11;
  }

  .ikon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 11;
    background: transparent;
    border: none;
    flex: 0 0 30px;
  }

  .ikon-menu span,
  .ikon-menu::after,
  .ikon-menu::before {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #ffffff;

  }

  .ikon-menu::after,
  .ikon-menu::before {
    content: "";
  }

  .ikon-menu::after {
    top: 0
  }

  .ikon-menu::before {
    bottom: 0;
  }

  .ikon-menu span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .menu-body {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }

  ul {
    display: block;
    padding-top: 100px;
  }

  li {
    color: black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }


}